
.container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
  line-height: 2rem;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.logo {
  display: inline-block;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #333;
  letter-spacing: 0.1rem;
}

.logo:hover {
  color: #222;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.05);
}
