include include.pug

doctype html
html.no-js(lang='en')
  head
    +metaTop
    title IMS – Image Management System
    +favicons
    +metaBottom
    +metaSEO
    +head
  body
    noscript You need to enable JavaScript to run this app.
    #root!= html
    +butt
