
.container {
  display: block;
  flex: 1 0 20rem;
  margin: 0.5rem;
  max-width: 25rem;
  background-color: #f2f2f2;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);

  text-decoration: none;
  color: #333;
}

.container:hover {
  color: #555;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.imageWrapper {
  position: relative;
  display: block;
  height: 0;
  padding-bottom: 50%;
  margin: 0.5rem;
}

.image,
.imageLight,
.imageDark {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.imageLight,
.imageDark {
  position: absolute;
  top: 0;
  bottom: 0;
}

.imageLight {
  background-color: #fff;
  left: 0;
  right: 50%;
}

.imageDark {
  background-color: #000;
  left: 50%;
  right: 0;
}

.details {
  padding: 0.5rem;
}
