mixin meta-top
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='theme-color' content='#000000')

mixin favicons
  //- TODO: add icons!

mixin meta-bottom
  //- ???

mixin meta-seo
  //- NOTE: I don't remember what this was for
  meta(name='fragment' content='!')

//- https://rollbar.com/docs/notifier/rollbar.js/
mixin rollbar
  script.
    window._rollbarConfig=!{JSON.stringify(rollbarConfig)};
  script(src='/assets/rollbar/rollbar.min.js' async)

mixin detect-ie
  //- https://github.com/StevenIseki/detectie/blob/master/detectie.js
  script
    :uglify-js
      (function () {
        var detectie = function() {
          var ua = window.navigator.userAgent;

          var msie = ua.indexOf('MSIE ');
          if (msie > 0) {
              // IE 10 or older => return version number
              return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
          }

          var trident = ua.indexOf('Trident/');
          if (trident > 0) {
              // IE 11 => return version number
              var rv = ua.indexOf('rv:');
              return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
          }

          var edge = ua.indexOf('Edge/');
          if (edge > 0) {
             // IE 12 => return version number
             return parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
          }
          // other browser
          return false;
        }
        
        var version = detectie()
        if (version && version <= 11) document.documentElement.classList.add('ie')
      })();

mixin head
  if !devServer
    link(rel='stylesheet' href=manifest['index.css'])
  script.
    document.documentElement.classList.add('js')
  script.
    IMS={}
  //- Uncomment if you support IE11
  //- script(src='/assets/babel-polyfill/polyfill.min.js')
  +rollbar
  +detect-ie

mixin butt
  if devServer
    script(src=`http://localhost:3691/assets/index.js`)
  else
    script(src=manifest['index.js'])
