include include.pug

doctype html
html.no-js(lang='en')
  head
    +meta-top
    title IMS – Image Management System
    +favicons
    +meta-bottom
    +meta-seo
    +head
  body
    noscript You need to enable JavaScript to run this app.
    #root!= html
    +butt
